.App {
    text-align: start;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;

    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.full_screen_height {
    min-height: calc(100vh - 81px);
}

.grey_bg {
    background: #f6f6f6;
}

.white_bg {
    background: white;
}
.link {
    color: #0a84ff;
    cursor: pointer;
}
.link:hover {
    color: #0056b3;
}

.text {
    color: #898989;
    font-size: 13px;
    font-weight: 300;
}

/*btns*/
.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background: #0a84ff;
    border-radius: 30px;
    border: 1px solid #0a84ff;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background: #0056b3;
    border: 1px solid #0056b3;
}
.btn.outlined {
    background: none;
    color: #0a84ff
}
.btn.outlined:hover {
    background: #0a84ff;
    color: white;
}
/*carousel btn*/
.slick_btn {
    color: #6c757d;
    cursor: pointer;
    position: absolute;
    width: 45px;
    bottom: 0;
    top: 0;
    border: none;
    background: transparent;
}
.slick_btn:first-child {
    left: 0;
}
.slick_btn:last-child {
    right: 0;
}
.slick_btn:hover {
    color: #0a84ff;
}
@media (max-width: 768px) {
 .slick_btn {
     display: none;
 }
}

/*Product style*/
.colorDiv {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 15px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.available_text {
  color: #2b9b62;
}
.unavailable_text {
    color: #d32f2f;
}

/*form*/

.form_input {
    width: 100%;
    height: 52px;
    z-index: 0;
    padding: 6px 36px 6px 12px;
    outline: none;
    border: 1px solid #d6d6d6;
}
.form_input:last-child {
    margin-bottom: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff!important;
    box-shadow: inset 0 0 0 50px #fff!important;
    border: 1px solid #d6d6d6!important;
}
.form_input.error {
    border: 1px solid #d32f2f;
}
